#mainVisualBox {
  width: 100vw;
  height: 40vh;
  position: relative;
  .top {
    width: 100%;
    height: 85%;
    background-image: url("/images/main/mainVisual.jpg");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0.85;
    .titleBox {
      h1 {
        color: #fff;
        font-size: 40px;
        font-family: "Playfair Display", serif;
        font-weight: 400;
      }
    }
  }
}
#utilBox {
  width: 13vw;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 26vh;
  left: 50%;
  background-color: #fff;
  transform: translateX(-50%);
  .txtBox {
    border-bottom: 1px solid #ddd;
    text-align: center;
    p {
      font-size: 19px;
      font-weight: 700;
      padding: 30px 0;
    }
  }
  .utilMenu {
    display: flex;
    border-radius: 0 0 10px 10px;
    background-color: #333;
    a {
      display: block;
      text-align: center;
      flex-grow: 1;
      padding: 15px 0;
      color: #fff;
      font-size: 15px;
      &:first-child {
        border-right: 1px solid #ddd;
      }
    }
  }
}
.section {
  &#contents {
    min-height: 650px;
  }
  .container {
    padding: 80px 0 150px 0;
    width: 80vw;
    margin: 0 auto;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        cursor: pointer;
        width: calc(33.33% - 20px);
        padding: 20px 0;
        margin: 0 10px;
        .contentsBox {
          border-radius: 10px;
          overflow: hidden;
          border: 1px solid #ddd;
          .img {
            width: 100%;
            overflow: hidden;
            img {
              object-fit: cover;
              width: 100%;
              height: 250px;
              border-radius: 10px 10px 0 0;
              transition: all 0.5s ease-in-out;
              &:hover {
                transform: scale(1.2);
              }
            }
          }
          .txtBox {
            padding: 20px;
            .top {
              display: flex;
              justify-content: space-between;
              margin-bottom: 10px;
              .titleBox {
                width: 90%;
                display: flex;
                span {
                  font-size: 12px;
                  line-height: 2;
                }
                h1 {
                  flex-grow: 1;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                  display: inline-block;
                  margin-left: 10px;
                  font-weight: 700;
                }
              }
              button {
                background: none;
                .material-icons-outlined,
                .material-icons {
                  color: rgb(228, 9, 9);
                  font-size: 18px;
                }
              }
            }
            p {
              font-size: 15px;
              font-weight: 400;
              line-height: 1.2;
              height: 2.4em;
              overflow: hidden;
              -webkit-box-orient: vertical;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              font-family: "GangwonEdu_OTFBoldA";
            }
          }
        }
        .mytourBox {
          height: 350px;
          display: flex;
          justify-content: center;
          align-items: center;
          .material-icons {
            font-size: 48px;
          }
        }
      }
    }
  }
}

.cover {
  // display: none;
  position: fixed;
  user-select: none;
  top: 0;
  z-index: 5000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  &#joinCover {
    display: none;
    &.on {
      display: block;
    }
  }
  &#loginCover {
    display: none;
    &.on {
      display: block;
    }
  }
  .userBox {
    overflow: hidden;
    position: absolute;
    width: 300px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 20px;
    .top {
      padding: 10px;
      border-bottom: 1px solid #aaa;
      display: flex;
      justify-content: space-between;
      .title {
        line-height: 1.5;
      }
      button {
        background: none;
        .material-icons {
          color: #333;
        }
      }
    }
    .center {
      padding: 20px;
      .idBox {
        display: flex;
        justify-content: space-between;
        button {
          background-color: #ddd;
          margin-bottom: 23px;
          padding: 7px;
          span {
            font-weight: 700;
          }
        }
      }
      .inputBox {
        padding-bottom: 10px;
        input {
          padding: 5px;
        }
        p {
          font-size: 11px;
          color: #f00;
          font-weight: 300;
          margin-top: 5px;
          padding-left: 5px;
          display: none;
          &.idOk {
            &.on {
              display: block;
              color: rgb(4, 0, 255);
            }
          }
          &.idNo {
            &.on {
              display: block;
            }
          }
          &.nickNameOk {
            &.on {
              display: block;
              color: rgb(4, 0, 255);
            }
          }
          &.nickNameNo {
            &.on {
              display: block;
            }
          }
          &.pwNotSame {
            &.on {
              display: block;
            }
          }
        }
      }
    }
    .bottom {
      border-top: 1px solid #aaa;
      padding: 10px;
      text-align: right;
      .btns {
        button {
          background-color: #333;
          padding: 7px;
          span {
            color: #fff;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}
#contentsPopup {
  overflow-y: scroll;
  display: none;
  &.on {
    display: block;
  }
  #popupItem {
    width: 40%;
    .top {
      .title {
        h1 {
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
    .center {
      .imgBox {
        margin-bottom: 20px;
        img {
          width: 100%;
        }
      }
      .infoBox {
        display: flex;
        justify-content: space-between;
        .info {
          .location {
            font-weight: 900;
            display: inline-block;
            margin-right: 10px;
          }
          .date,
          .nickname {
            font-size: 13px;
            margin-right: 10px;
          }
        }
        .heart {
          display: flex;
          align-items: center;
          .heartNum {
            display: inline-block;
            margin-bottom: 3px;
            font-size: 12px;
          }
          button {
            background: none;
            .material-icons-outlined,
            .material-icons-outlined {
              color: rgb(228, 9, 9);
            }
          }
        }
      }
      .txtBox {
        p {
          line-height: 1.5;
          font-size: 16px;
          font-weight: 400;
          font-family: "GangwonEdu_OTFBoldA";
        }
      }
    }
  }
}

input[type="text"],
input[type="password"] {
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
  &:focus {
    border-radius: 3px;
    border-bottom: none;
    outline: 2px solid #333;
  }
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}
