.subSection {
  padding: 50px 0 100px 0;
  width: 60vw;
  margin: 0 auto;
  .title {
    margin-bottom: 30px;
    h1 {
      font-weight: 700;
    }
  }
  form {
    .imgBox {
      width: 100%;
      height: 600px;
      background-color: #fffbfb;
      margin-bottom: 20px;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
    .file {
      cursor: pointer;
    }
    .inputBox {
      width: 100%;
      padding: 10px 30px;
      border: 1px solid #aaa;
      border-radius: 10px;
      margin-bottom: 10px;
      &:nth-child(5) {
        margin-bottom: 30px;
      }
      label {
        display: flex;
        justify-content: space-between;
        position: relative;
        &.myPageLabel::before {
          left: 12%;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: -10px;
          left: 10%;
          height: calc(100% + 20px);
          width: 1px;
          z-index: 1;
          background-color: #ddd;
        }
        span {
          font-size: 20px;
        }
        input {
          width: 86%;
          vertical-align: bottom;
          outline: none;
          border: none;
          font-size: 19px;
          font-family: "GangwonEdu_OTFBoldA";
          line-height: 1.3;
          &::placeholder {
            font-size: 20px;
          }
        }
        input[type="file"] {
          position: absolute;
          width: 0;
          height: 0;
          padding: 0;
          overflow: hidden;
          border: 0;
        }
      }
      textarea {
        width: 100%;
        height: 100%;
        resize: none;
        font-family: "GangwonEdu_OTFBoldA";
        font-size: 19px;
        outline: none;
        border: none;
      }
    }
    .dateBox {
      width: 25%;
      label {
        &::before {
          display: none;
        }
        // #date {
        //   font-size: 18px;
        // }
      }
    }
    .btns {
      text-align: right;
      margin-top: 50px;
      button {
        padding: 5px 10px;
        background-color: #333;
        &:not(:last-child) {
          margin-right: 10px;
        }
        span {
          color: #fff;
          font-weight: 700;
          font-size: 20px;
        }
      }
    }
  }
}
.errBody {
  overflow: hidden;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
