{% include "include/header.html" %}
<div id="utilBox">
  <div class="txtBox"><p>{{ title }}</p></div>
  <div class="utilMenu">
    {% if userInfo %}
    <a href="/user/logout" id="logoutBtn"><span>Logout</span></a>
    <a href="/user/mypage" id="mypageBtn"><span>My Page</span></a>
    {% else %}
    <!-- 로그인이 자꾸 풀려서 체크용으로 -->
    <a href="" id="loginBtn"><span>Login</span></a>
    <a href="" id="joinBtn"><span>Join</span></a>
    {% endif %}
  </div>
</div>
<section id="create" class="subSection">
  <div class="title">
    <h1>Create Post</h1>
  </div>
  <form action="/create/new" method="POST" enctype="multipart/form-data">
    <div class="imgBox">
      <img alt="" />
    </div>
    <div class="inputBox">
      <label class="file"><span>파일찾기</span><input type="file" name="image" id="image" /> <input name="fileName" id="fileName" value="첨부파일" readonly /></label>
    </div>
    <div class="inputBox dateBox">
      <label><input type="text" name="date" id="date" placeholder="년도. 월. 일" readonly /><span>📅</span></label>
    </div>
    <div class="inputBox">
      <label><span>제목</span><input type="text" name="title" id="title" /></label>
    </div>
    <div class="inputBox">
      <label><span>여행지</span><input type="text" name="location" id="location" /></label>
    </div>
    <div class="inputBox"><textarea name="desc" id="desc" cols="30" rows="10" placeholder="내용을 입력하세요"></textarea></div>
    <div class="btns">
      <button id="createBtn"><span>추가</span></button>
      <button type="reset" id="resetBtn"><span>취소</span></button>
    </div>
  </form>
</section>
<script>
  const fileNameBox = document.querySelector("#fileName");
  const inputFile = document.querySelector("#image");
  const imgBox = document.querySelector("#create .imgBox img");
  const date = document.querySelector("#date");

  //파일 첨부 후 바로 이미지 띄우기
  inputFile.addEventListener("change", () => {
    const img = document.querySelector("#image");
    const fileName = inputFile.value;
    fileNameBox.value = fileName;
    const sendImgData = new FormData();
    sendImgData.append("image", img.files[0]);
    axios({
      method: "POST",
      url: "/create/sendimg",
      data: sendImgData,
      Headers: {
        enctype: "multipart/form-data",
        contentType: false,
        processData: false,
      },
    }).then((res) => {
      const src = res.data.cloudinaryImgSrc;
      imgBox.setAttribute("src", src);
    });
  });

  const picker = new Lightpick({ field: date, format: "YYYY. MM. DD" });
</script>
{% include "include/footer.html" %}
