{% include "include/header.html" %}
<section id="contents" class="section">
  <div class="container">
    <ul>
      <li>
        <a href="">
          <div class="contentsBox">
            <div class="img">
              <img src="images/main/slideVisual01.jpg" alt="" />
            </div>
            <div class="txtBox">
              <div class="heartIcon"><span class="material-icons-outlined"> favorite_border </span></div>
              <h1>뉴질랜드</h1>
              <p>뉴질랜드 퉁가리로국립공원 좋아용 뉴질랜드 가고싶다 뉴질랜드~~ 이거 언제 다 만들지 일주일 안에 할 수 있을까 엄청 많네 하 돌아버린다 진짜 ㅠㅠ 언제 다해 ㅠㅠ</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="contentsBox">
            <div class="img">
              <img src="images/main/slideVisual01.jpg" alt="" />
            </div>
            <div class="txtBox">
              <div class="heartIcon"><span class="material-icons-outlined"> favorite_border </span></div>
              <h1>뉴질랜드</h1>
              <p>뉴질랜드 퉁가리로국립공원 좋아용 뉴질랜드 가고싶다 뉴질랜드~~ 이거 언제 다 만들지 일주일 안에 할 수 있을까 엄청 많네 하 돌아버린다 진짜 ㅠㅠ 언제 다해 ㅠㅠ</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="contentsBox">
            <div class="img">
              <img src="images/main/slideVisual01.jpg" alt="" />
            </div>
            <div class="txtBox">
              <div class="heartIcon"><span class="material-icons-outlined"> favorite_border </span></div>
              <h1>뉴질랜드</h1>
              <p>뉴질랜드 퉁가리로국립공원 좋아용 뉴질랜드 가고싶다 뉴질랜드~~ 이거 언제 다 만들지 일주일 안에 할 수 있을까 엄청 많네 하 돌아버린다 진짜 ㅠㅠ 언제 다해 ㅠㅠ</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="contentsBox">
            <div class="img">
              <img src="images/main/slideVisual01.jpg" alt="" />
            </div>
            <div class="txtBox">
              <div class="heartIcon"><span class="material-icons-outlined"> favorite_border </span></div>
              <h1>뉴질랜드</h1>
              <p>뉴질랜드 퉁가리로국립공원 좋아용 뉴질랜드 가고싶다 뉴질랜드~~ 이거 언제 다 만들지 일주일 안에 할 수 있을까 엄청 많네 하 돌아버린다 진짜 ㅠㅠ 언제 다해 ㅠㅠ</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="contentsBox">
            <div class="img">
              <img src="images/main/slideVisual01.jpg" alt="" />
            </div>
            <div class="txtBox">
              <div class="heartIcon"><span class="material-icons-outlined"> favorite_border </span></div>
              <h1>뉴질랜드</h1>
              <p>뉴질랜드 퉁가리로국립공원 좋아용 뉴질랜드 가고싶다 뉴질랜드~~ 이거 언제 다 만들지 일주일 안에 할 수 있을까 엄청 많네 하 돌아버린다 진짜 ㅠㅠ 언제 다해 ㅠㅠ</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="contentsBox">
            <div class="img">
              <img src="images/main/slideVisual01.jpg" alt="" />
            </div>
            <div class="txtBox">
              <div class="heartIcon"><span class="material-icons-outlined"> favorite_border </span></div>
              <h1>뉴질랜드</h1>
              <p>뉴질랜드 퉁가리로국립공원 좋아용 뉴질랜드 가고싶다 뉴질랜드~~ 이거 언제 다 만들지 일주일 안에 할 수 있을까 엄청 많네 하 돌아버린다 진짜 ㅠㅠ 언제 다해 ㅠㅠ</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="contentsBox">
            <div class="img">
              <img src="images/main/slideVisual01.jpg" alt="" />
            </div>
            <div class="txtBox">
              <div class="heartIcon"><span class="material-icons-outlined"> favorite_border </span></div>
              <h1>뉴질랜드</h1>
              <p>뉴질랜드 퉁가리로국립공원 좋아용 뉴질랜드 가고싶다 뉴질랜드~~ 이거 언제 다 만들지 일주일 안에 할 수 있을까 엄청 많네 하 돌아버린다 진짜 ㅠㅠ 언제 다해 ㅠㅠ</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="contentsBox">
            <div class="img">
              <img src="images/main/slideVisual01.jpg" alt="" />
            </div>
            <div class="txtBox">
              <div class="heartIcon"><span class="material-icons-outlined"> favorite_border </span></div>
              <h1>뉴질랜드</h1>
              <p>뉴질랜드 퉁가리로국립공원 좋아용 뉴질랜드 가고싶다 뉴질랜드~~ 이거 언제 다 만들지 일주일 안에 할 수 있을까 엄청 많네 하 돌아버린다 진짜 ㅠㅠ 언제 다해 ㅠㅠ</p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="contentsBox">
            <div class="img">
              <img src="images/main/slideVisual01.jpg" alt="" />
            </div>
            <div class="txtBox">
              <div class="heartIcon"><span class="material-icons-outlined"> favorite_border </span></div>
              <h1>뉴질랜드</h1>
              <p>뉴질랜드 퉁가리로국립공원 좋아용 뉴질랜드 가고싶다 뉴질랜드~~ 이거 언제 다 만들지 일주일 안에 할 수 있을까 엄청 많네 하 돌아버린다 진짜 ㅠㅠ 언제 다해 ㅠㅠ</p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
{% include "include/footer.html" %}
