{% include "include/header.html" %}
<div id="utilBox">
  <div class="txtBox"><p>{{ title }}</p></div>
  <div class="utilMenu">
    {% if userInfo %}
    <a href="/user/logout" id="logoutBtn"><span>Logout</span></a>
    <a href="/user/mytour" id="myTourBtn"><span>My tour</span></a>
    {% else %}
    <a href="" id="loginBtn"><span>Login</span></a>
    <a href="" id="joinBtn"><span>Join</span></a>
    <script>
      loginBtn.addEventListener("click", (e) => {
        e.preventDefault();
        loginPage.classList.add("on");
        loginId.focus();
      });
      joinBtn.addEventListener("click", (e) => {
        e.preventDefault();
        joinPage.classList.add("on");
        joinId.focus();
      });
    </script>
    {% endif %}
  </div>
</div>
<section id="contents" class="section">
  <div class="container">
    <ul></ul>
  </div>
</section>
{% if idError %}
<script>
  alert("존재하지 않는 아이디입니다.");
</script>
{% endif %} {% if pwError %}
<script>
  alert("비밀번호를 확인해주세요.");
</script>
{% endif %}
<div id="loginCover" class="cover">
  <div id="loginBox" class="userBox">
    <div class="top">
      <div class="title">
        <h1>Login</h1>
      </div>
      <button id="loginCloseBtn"><span class="material-icons"> close </span></button>
    </div>
    <form action="/user/login" method="POST">
      <div class="center">
        <div class="inputBox"><input type="text" placeholder="ID" id="loginId" name="loginId" /></div>
        <div class="inputBox"><input type="password" placeholder="PASSWORD" id="loginPw" name="loginPw" /></div>
      </div>
      <div class="bottom">
        <div class="btns">
          <button class="loginBtn"><span>LOGIN</span></button>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="joinCover" class="cover">
  <div id="joinBox" class="userBox">
    <div class="top">
      <div class="title">
        <h1>Sign up</h1>
      </div>
      <button id="joinCloseBtn"><span class="material-icons"> close </span></button>
    </div>
    <form action="" method="">
      <div class="center">
        <div class="idBox">
          <div class="inputBox">
            <input type="text" placeholder="ID (6자 이상)" id="joinId" name="joinId" />
            <p class="idOk">사용할 수 있는 아이디입니다.</p>
            <p class="idNo">사용할 수 없는 아이디입니다.</p>
          </div>
        </div>
        <div class="inputBox">
          <input type="text" name="joinNickname" id="joinNickname" placeholder="NICKNAME (2자 이상)" />
          <p class="nickNameOk">사용할 수 있는 닉네임입니다.</p>
          <p class="nickNameNo">사용할 수 없는 닉네임입니다.</p>
        </div>
        <div class="inputBox"><input type="password" placeholder="PASSWORD (8자 이상)" id="joinPw" name="joinPw" /></div>
        <div class="inputBox">
          <input type="password" placeholder="PASSWORD CHECK" id="joinPwCheck" name="joinPwCheck" />
          <p class="pwNotSame">비밀번호를 다시 한번 확인해 주세요.</p>
        </div>
      </div>
      <div class="bottom">
        <div class="btns">
          <button class="joinBtn"><span>JOIN</span></button>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="contentsPopup" class="cover">
  <div id="popupItem" class="userBox">
    <div class="top">
      <div class="title">
        <h1>뉴질랜드</h1>
      </div>
      <button id="popupCloseBtn"><span class="material-icons"> close </span></button>
    </div>
    <div class="center">
      <div class="imgBox">
        <img src="/images/main/mainVisual.jpg" alt="" />
      </div>
      <div class="infoBox">
        <div class="info"><span class="location">NewZealand</span> <span class="date">19.12.30</span> <span class="nickname">쏘히님</span></div>
        <div class="heart">
          <span class="heartNum">9</span><button><span class="material-icons-outlined"> favorite_border </span></button>
        </div>
      </div>
      <div class="txtBox">
        <p>뉴질랜드 퉁가리로국립공원 좋아용 뉴질랜드 가고싶다 뉴질랜드~~ 이거 언제 다 만들지 일주일 안에 할 수 있을까 엄청 많네 하 돌아버린다 진짜 ㅠㅠ 언제 다해 ㅠㅠ</p>
      </div>
    </div>
    <div class="bottom">
      <div class="btns">
        <button class="loginBtn"><span>수정</span></button>
        <button class="joinBtn"><span>삭제</span></button>
      </div>
    </div>
  </div>
</div>
{% include "include/footer.html" %}
