{% include "include/header.html" %}
<div id="utilBox">
  <div class="txtBox"><p>{{ title }}</p></div>
  <div class="utilMenu">
    {% if userInfo %}
    <a href="/user/logout" id="logoutBtn"><span>Logout</span></a>
    <a href="/user/mypage" id="mypageBtn"><span>My Page</span></a>
    {% else %}
    <!-- 로그인이 자꾸 풀려서 체크용으로 -->
    <a href="" id="loginBtn"><span>Login</span></a>
    <a href="" id="joinBtn"><span>Join</span></a>
    {% endif %}
  </div>
</div>
<section id="contents" class="section">
  <div class="container">
    <ul>
      {% for item in list %}
      <li>
        <div class="contentsBox">
          <div class="img">
            <img src="{{item.imgUrl}}" alt="" />
          </div>
          <div class="txtBox">
            <div class="top">
              <div class="titleBox">
                <span class="location">{{item.location}}</span>
                <h1>{{item.title}}</h1>
              </div>
              <!-- <button><span class="material-icons-outlined"> favorite_border </span></button> -->
              <button><span class="material-icons"> favorite </span></button>
            </div>
            <p>{{item.desc}}</p>
          </div>
        </div>
      </li>
      {% endfor %}
      <li>
        <div class="contentsBox mytourBox" id="mytourUpdate">
          <span class="material-icons"> add </span>
        </div>
      </li>
    </ul>
  </div>
</section>
<script>
  const mytourUpdateBtn = document.querySelector("#mytourUpdate");
  mytourUpdateBtn.addEventListener("click", () => {
    location.href = "/create";
  });
</script>
{% include "include/footer.html" %}
