{% include "include/head.html" %} {% include "include/header.html" %}
<div id="utilBox">
  <div class="txtBox"><p>{{ title }}</p></div>
  <div class="utilMenu">
    <a href="/user/logout" id="logoutBtn"><span>Logout</span></a>
    <a href="/user/mypage" id="mypageBtn"><span>My Page</span></a>
  </div>
</div>
<section id="contents" class="section">
  <div class="container">
    <ul>
      <li id="mytourUpdate">
        <div class="contentsBox mytourBox">
          <span class="material-icons"> add </span>
        </div>
      </li>
      {% for item in list %}
      <li class="myContents">
        <div class="contentsBox">
          <div class="img">
            <img src="{{item.imgUrl}}" alt="" />
          </div>
          <div class="txtBox">
            <div class="top">
              <div class="titleBox">
                <span class="location">{{item.location}}</span>
                <h1>{{item.title}}</h1>
              </div>
            </div>
            <p>{{item.desc}}</p>
          </div>
        </div>
        <div class="heart">
          <button id="myEmptyHeart" class="on" data-no="{{item.no}}"><span class="material-icons-outlined"> favorite_border </span></button>
          <button id="myFullHeart" class="" data-no="{{item.no}}"><span class="material-icons"> favorite </span></button>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% for item in list %}
<div id="contentsPopup" class="cover">
  <div id="popupItem" class="userBox">
    <div class="top">
      <div class="title">
        <h1>{{item.title}}</h1>
      </div>
      <button id="popupCloseBtn"><span class="material-icons"> close </span></button>
    </div>
    <div class="center">
      <div class="imgBox">
        <img src="{{item.imgUrl}}" alt="" />
      </div>
      <div class="infoBox">
        <div class="info"><span class="location">{{item.location}}</span> <span class="date">{{item.date}}</span> <span class="nickname">{{item.nickname}}</span></div>
        <div class="heart">
          <span class="heartNum" id="myHeartNum" data-no="{{item.no}}">{{item.heartNum}}</span>
          <button id="myPopupEmptyHeart" class="on" data-no="{{item.no}}"><span class="material-icons-outlined"> favorite_border </span></button>
          <button id="myPopupFullHeart" class="" data-no="{{item.no}}"><span class="material-icons"> favorite </span></button>
        </div>
      </div>
      <div class="txtBox">
        <p>{{item.desc}}</p>
      </div>
    </div>
    <div class="bottom">
      <div class="btns">
        <button id="updateBtn" data-no="{{item.no}}"><span>수정</span></button>
        <button id="delBtn" data-no="{{item.no}}"><span>삭제</span></button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<div id="myPagenation" class="pagination">
  <ul class="list">
    {% if totalPage -%} {% for i in range(1, totalPage + 1) %} {% if page == i %}
    <li class="page"><a href="" class="on" data-num="{{i}}">{{i}}</a></li>
    {% else %}
    <li class="page"><a href="" data-num="{{i}}">{{i}}</a></li>
    {% endif %} {%- endfor %} {% endif %}
  </ul>
</div>
<script>
  const mytourUpdateBtn = document.querySelector("#mytourUpdate");
  const contents = document.querySelectorAll("#contents ul .myContents .contentsBox");
  const contentsPopups = document.querySelectorAll("#contentsPopup");
  const popupClostBtns = document.querySelectorAll("#popupCloseBtn");
  const updateBtn = document.querySelectorAll("#updateBtn");
  const deleteBtn = document.querySelectorAll("#delBtn");
  const myEmptyHearts = document.querySelectorAll("#myEmptyHeart");
  const myFullHearts = document.querySelectorAll("#myFullHeart");
  const myHeartNum = document.querySelectorAll("#myHeartNum");
  const myPopupEmptyHearts = document.querySelectorAll("#myPopupEmptyHeart");
  const myPopupFullHearts = document.querySelectorAll("#myPopupFullHeart");
  const myPageList = document.querySelectorAll("#mypagination .list .page");
  const myPageBtns = document.querySelectorAll("#mypagination .list .page a");

  //유저의 클릭한 하트 글이 들어있는 배열 받아오기
  axios({
    url: "/heart/arr",
  })
    .then((res) => {
      const heartArr = res.data.heartArr;
      heartArr.forEach((heart, heartIdx) => {
        myFullHearts.forEach((item, idx) => {
          const no = item.dataset.no;
          if (heart == no) {
            item.classList.add("on");
          }
        });
        myEmptyHearts.forEach((item2, idx2) => {
          const no = item2.dataset.no;
          if (heart == no) {
            item2.classList.remove("on");
          }
        });
        myPopupFullHearts.forEach((item3, idx2) => {
          const no = item3.dataset.no;
          if (heart == no) {
            item3.classList.add("on");
          }
        });
        myPopupEmptyHearts.forEach((item4, idx4) => {
          const no = item4.dataset.no;
          if (heart == no) {
            item4.classList.remove("on");
          }
        });
      });
    })
    .catch((err) => {
      console.log("500띄울거임");
    });

  // 하트 수 계산하고, 하트 바꾸는 함수
  //(생길 하트1 , 생길 하트2, 없어질 하트, 변경될 하트수, 이벤트 객체의 idx, 이벤트객체의 no)
  const heartCalc = (outHearts, inHearts, removeInHears, heartNum, idx, no) => {
    outHearts.forEach((item2, idx2) => {
      if (idx === idx2) {
        item2.classList.add("on");
      }
    });
    inHearts.forEach((item3, idx3) => {
      if (idx === idx3) {
        item3.classList.add("on");
      }
    });
    removeInHears.forEach((item4, idx4) => {
      if (idx === idx4) {
        item4.classList.remove("on");
      }
    });
    myHeartNum.forEach((h1, hIdx1) => {
      const h1Num = h1.dataset.no;
      if (no === h1Num) {
        h1.textContent = heartNum;
      }
    });
  };

  // 메인리스트 하트작업(emptyHeart -> fullHeart)
  myEmptyHearts.forEach((item, idx) => {
    item.addEventListener("click", () => {
      const no = item.dataset.no;
      axios({
        method: "POST",
        url: "/heart/plus",
        data: {
          no: no,
        },
      })
        .then((res) => {
          const heartNum = res.data.heartNum;
          item.classList.remove("on");
          heartCalc(myFullHearts, myPopupFullHearts, myPopupEmptyHearts, heartNum, idx, no);
        })
        .catch((err) => {
          console.log("500띄울거임");
        });
    });
  });

  // 메인리스트 하트작업(fullHeart -> emptyHeart)
  myFullHearts.forEach((item, idx) => {
    item.addEventListener("click", () => {
      const no = item.dataset.no;
      axios({
        method: "POST",
        url: "/heart/minus",
        data: {
          no: no,
        },
      })
        .then((res) => {
          const heartNum = res.data.heartNum;
          console.log(heartNum);
          item.classList.remove("on");
          heartCalc(myEmptyHearts, myPopupEmptyHearts, myPopupFullHearts, heartNum, idx, no);
        })
        .catch((err) => {
          console.log(err);
        });
    });
  });

  mytourUpdateBtn.addEventListener("click", () => {
    location.href = "/create";
  });

  //콘텐츠 팝업
  contents.forEach((item, idx) => {
    item.addEventListener("click", () => {
      contentsPopups.forEach((item2, idx2) => {
        idx === idx2 ? item2.classList.add("on") : item.classList.remove("on");
      });
    });
  });
  popupClostBtns.forEach((item, idx2) => {
    item.addEventListener("click", () => {
      contentsPopups.forEach((item2, idx) => {
        if (idx === idx2) {
          item2.classList.remove("on");
        }
      });
    });
  });

  //팝업창 하트 작업(emptyHeart -> fullHeart)
  myPopupEmptyHearts.forEach((item, idx) => {
    item.addEventListener("click", () => {
      const no = item.dataset.no;
      axios({
        method: "POST",
        url: "/heart/plus",
        data: {
          no: no,
        },
      })
        .then((res) => {
          const heartNum = res.data.heartNum;
          console.log(heartNum);
          item.classList.remove("on");
          heartCalc(myFullHearts, myPopupFullHearts, myEmptyHearts, heartNum, idx, no);
        })
        .catch((err) => {
          console.log(err);
        });
    });
  });

  //팝업창 하트 작업(fullHeart -> emptyHeart)
  myPopupFullHearts.forEach((item, idx) => {
    item.addEventListener("click", () => {
      const no = item.dataset.no;
      axios({
        method: "POST",
        url: "/heart/minus",
        data: {
          no: no,
        },
      })
        .then((res) => {
          const heartNum = res.data.heartNum;
          console.log(heartNum);
          item.classList.remove("on");
          heartCalc(myEmptyHearts, myPopupEmptyHearts, myFullHearts, heartNum, idx, no);
        })
        .catch((err) => {
          console.log("500띄울거임");
        });
    });
  });

  // 글 수정페이지로 이동
  updateBtn.forEach((item, idx) => {
    item.addEventListener("click", () => {
      const no = item.dataset.no;
      axios({
        url: `/update/?edit=${no}`,
      }).then((res) => {
        location.href = `/update/?edit=${no}`;
      });
    });
  });

  // 글 삭제
  deleteBtn.forEach((item, idx) => {
    item.addEventListener("click", () => {
      const no = item.dataset.no;
      axios({
        method: "POST",
        url: "/update/delete",
        data: {
          no: no,
        },
      }).then((res) => {
        if (res.data.delete) {
          alert("글이 삭제되었습니다.");
          window.location.href = "/user/mytour";
        } else {
          console.log("500띄울거임");
        }
      });
    });
  });

  //페이지네이션
  myPageBtns.forEach((item, idx) => {
    item.addEventListener("click", (e) => {
      e.preventDefault();
      const num = item.dataset.num;
      axios({
        url: `/?page=${num}`,
      })
        .then((res) => {
          console.log("ok");
          location.href = `/?page=${num}`;
        })
        .catch((err) => {
          console.log("500띄울거임");
        });
    });
  });
</script>
{% include "include/footer.html" %}
