{% include "include/header.html" %}
<div id="utilBox">
  <div class="txtBox"><p>{{ title }}</p></div>
  <div class="utilMenu">
    <a href="/user/logout" id="logoutBtn"><span>Logout</span></a>
    <a href="/user/mypage" id="mypageBtn"><span>My Page</span></a>
  </div>
</div>
<section id="contents" class="section">
  <div class="container">
    <ul>
      <li id="mytourUpdate">
        <div class="contentsBox mytourBox">
          <span class="material-icons"> add </span>
        </div>
      </li>
      {% for item in list %}
      <li class="myContents">
        <div class="contentsBox">
          <div class="img">
            <img src="{{item.imgUrl}}" alt="" />
          </div>
          <div class="txtBox">
            <div class="top">
              <div class="titleBox">
                <span class="location">{{item.location}}</span>
                <h1>{{item.title}}</h1>
              </div>
              <!-- <button><span class="material-icons-outlined"> favorite_border </span></button> -->
              <button><span class="material-icons"> favorite </span></button>
            </div>
            <p>{{item.desc}}</p>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% for item in list %}
<div id="contentsPopup" class="cover">
  <div id="popupItem" class="userBox">
    <div class="top">
      <div class="title">
        <h1>{{item.title}}</h1>
      </div>
      <button id="popupCloseBtn"><span class="material-icons"> close </span></button>
    </div>
    <div class="center">
      <div class="imgBox">
        <img src="{{item.imgUrl}}" alt="" />
      </div>
      <div class="infoBox">
        <div class="info"><span class="location">{{item.location}}</span> <span class="date">{{item.date}}</span> <span class="nickname">{{item.nickname}}</span></div>
        <div class="heart">
          <span class="heartNum">{{item.heart}}</span><button><span class="material-icons-outlined"> favorite_border </span></button>
          <!-- <button><span class="material-icons"> favorite </span></button> -->
        </div>
      </div>
      <div class="txtBox">
        <p>{{item.desc}}</p>
      </div>
    </div>
    <div class="bottom">
      <div class="btns">
        <button id="updateBtn" data-no="{{item.no}}"><span>수정</span></button>
        <button id="delBtn"><span>삭제</span></button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<script>
  const mytourUpdateBtn = document.querySelector("#mytourUpdate");
  const contents = document.querySelectorAll("#contents ul .myContents");
  const contentsPopups = document.querySelectorAll("#contentsPopup");
  const popupClostBtns = document.querySelectorAll("#popupCloseBtn");
  const updateBtn = document.querySelectorAll("#updateBtn");

  mytourUpdateBtn.addEventListener("click", () => {
    location.href = "/create";
  });

  //콘텐츠 팝업
  contents.forEach((item, idx) => {
    item.addEventListener("click", () => {
      contentsPopups.forEach((item2, idx2) => {
        idx === idx2 ? item2.classList.add("on") : item.classList.remove("on");
      });
    });
  });
  popupClostBtns.forEach((item, idx2) => {
    item.addEventListener("click", () => {
      contentsPopups.forEach((item2, idx) => {
        if (idx === idx2) {
          item2.classList.remove("on");
        }
      });
    });
  });

  // 글 수정페이지로 이동
  updateBtn.forEach((item, idx) => {
    item.addEventListener("click", () => {
      const no = item.dataset.no;
      axios({
        method: "POST",
        url: "/update",
        data: {
          no: no,
        },
      }).then((res) => {
        if (res.data.isUpdate) {
          location.href = "/update";
        } else {
          console.log("500띄울꺼임");
        }
      });
    });
  });
</script>
{% include "include/footer.html" %}
