<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>여행노트</title>
    <link rel="shortcut icon" href="/images/layout/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/layout.min.css" />
    <link rel="stylesheet" href="/css/main.min.css" />
    <link rel="stylesheet" href="/css/sub.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/layout.js" defer></script>
    <script src="/js/main.js" defer></script>
    <script src="/js/sub.js" defer></script>
  </head>
  <body>
    <header id="header">
      <div class="inner">
        <div class="headerTitle">
          <a href="/">
            <h1>여행 노트</h1>
          </a>
        </div>
        <div class="utilMenu">
          <ul class="utilList">
            <li>
              <a href=""><span>Login</span></a>
            </li>
            <li><a href="">Sign Up</a></li>
            <!-- <li><a href="">Home</a></li>
            <li><a href="">My tour</a></li>
            <li><a href="">Logout</a></li> -->
          </ul>
        </div>
      </div>
    </header>
    <main id="main">
      <div id="mainVisual">
        <ul class="swiper-wrapper">
          <li class="swiper-slide"><img src="/images/main/slideVisual01.jpg" alt="" /></li>
          <li class="swiper-slide"><img src="/images/main/slideVisual02.jpg" alt="" /></li>
          <li class="swiper-slide"><img src="/images/main/slideVisual03.jpg" alt="" /></li>
          <li class="swiper-slide"><img src="/images/main/slideVisual04.jpg" alt="" /></li>
          <li class="swiper-slide"><img src="/images/main/slideVisual05.jpg" alt="" /></li>
          <li class="swiper-slide"><img src="/images/main/slideVisual06.jpg" alt="" /></li>
          <li class="swiper-slide"><img src="/images/main/slideVisual07.jpg" alt="" /></li>
          <li class="swiper-slide"><img src="/images/main/slideVisual08.jpg" alt="" /></li>
        </ul>
      </div>
    </main>
  </body>
</html>
