<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel diary</title>
    <link rel="shortcut icon" href="/images/layout/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/layout.min.css" />
    <link rel="stylesheet" href="/css/main.min.css" />
    <link rel="stylesheet" href="/css/sub.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/layout.js" defer></script>
    <script src="/js/main.js" defer></script>
    <script src="/js/sub.js" defer></script>
  </head>
  <body>
    <main id="mainVisualBox">
      <div class="top">
        <div class="mainImgBox">
          <div class="titleBox">
            <h1><a href="/">Travel diary</a></h1>
          </div>
        </div>
      </div>
      <div class="utilBox">
        <div class="txtBox"><p>{{ title }}</p></div>
        <div class="utilMenu">
          {% if userInfo %}
          <a href="/user/logout" id="logoutBtn"><span>Logout</span></a>
          <a href="" id="myTourBtn"><span>My tour</span></a>
          <script>
            myTourBtn.addEventListener("click", (e) => {
              e.preventDefault();
              axios({
                url: "/user/mytour",
              }).then((res) => {
                const list = res.data.result;
                let tempHtml = "";
                if (list.length == 0) {
                  tempHtml = `<li>
                        <div class="contentsBox mytourBox" id="mytourUpdate">
                        <span class="material-icons"> add </span>
                         </div>
                         </li>`;
                } else {
                  list.forEach((item, idx) => {
                    tempHtml = `<li>
              <div class="contentsBox">
                <div class="img">
                  <img src="${item.imgUrl}" alt="" />
                </div>
                <div class="txtBox">
                  <div class="top">
                    <div class="titleBox">
                      <span class="location">${item.location}</span>
                      <h1>${item.title}</h1>
                    </div>
                    <button><span class="material-icons-outlined"> favorite_border </span></button>
                  </div>
                  <p>${item.desc}</p>
                </div>
              </div>
            </li>`;
                    contentsList.insertAdjacentHTML(
                      "afterbegin",
                      `<li>
                        <div class="contentsBox mytourBox" id="mytourUpdate">
                        <span class="material-icons"> add </span>
                         </div>
                         </li>`
                    );
                  });
                }
                contentsList.innerHTML = tempHtml;
                const mytourUpdateBtn = document.querySelector("#mytourUpdate");
                mytourUpdateBtn.addEventListener("click", () => {
                  location.href = "/create";
                });
              });
            });
          </script>
          {% else %}
          <a href="" id="loginBtn"><span>Login</span></a>
          <a href="" id="joinBtn"><span>Join</span></a>
          <script>
            loginBtn.addEventListener("click", (e) => {
              e.preventDefault();
              loginPage.classList.add("on");
              loginId.focus();
            });
            joinBtn.addEventListener("click", (e) => {
              e.preventDefault();
              joinPage.classList.add("on");
              joinId.focus();
            });
          </script>
          {% endif %}
        </div>
      </div>
    </main>
  </body>
</html>
